$mainColor: #1976D2;
$mainColorDark: #17597C;

$black: #3C3F41;
$lightBlack: #4A4A4A;
$lighterGray: #f5f5f5;
$lightGray: #e6e6e6;
$mediumGray: #808689;
$gray: #C0C6CC;


$successColor: #1F9D57;
$successLightColor: #7caf93;
$warningColor: #FFC400;
$warningColor2: #FF9300;
$errorColor: #F72929;
$infoColor: #259CF4;
