footer {
    .light-section {
        background-color: $lighterGray;
        padding: 5rem 0;
        .gmw {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            @media #{$ipad} {
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
            .links-wrapper {
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
                width: 60%;
                @media #{$ipad} {
                    flex-direction: column;
                    width: 100%;
                }
                .links {
                    max-width: 250px;
                    @media #{$ipad} {
                        max-width: unset;
                        width: 100%;
                        padding: 1.5rem 0;
                        border-bottom: 1px solid $gray;
                        &:first-child {
                            padding-top: 0;
                        }
                        &:last-child {
                            border-bottom: 0;
                        }
                    }
                    h3 {
                        font-size: 20px;
                        margin-bottom: 1.5rem;
                        @media #{$ipad} {
                            margin-bottom: 0;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            &:after {
                                content: '\2b';
                                font-family: 'Font Awesome 6 Pro';
                                font-weight: normal;
                            }
                        }
                    }
                    .all-links {
                        @media #{$ipad} {
                            display: none;
                            margin-top: 1.5rem;
                        }
                        .link {
                            margin-bottom: 1rem;
                            display: flex;
                            justify-content: flex-start;
                            align-items: flex-start;
                            i {
                                margin-right: 0.5rem;
                            }
                            &:hover {
                                span {
                                    text-decoration: underline;
                                }
                            }
                        }
                    }
                }
            }
            .logo {
                flex-shrink: 0;
                @media #{$ipad} {
                    margin-top: 2rem;
                    img {
                        height: 120px;
                    }
                }
            }
        }
    }

    .dark-section {
        padding: 1.5rem 0;
        background-color: $black;
        color: white;
        .gmw {
            display: flex;
            justify-content: space-between;
            align-items: center;
            @media #{$ipad} {
                flex-direction: column;
            }
            p {
                font-size: 14px;
                @media #{$ipad} {
                    margin-top: 1.5rem;
                }
                a {
                    color: white;
                    text-decoration: underline;
                }
            }
        }
    }
}