.hero {
    background-image: url('/img/bg-hero-desk.png');
    background-position: center bottom;
    background-size: cover;

    @media #{$ipad} {
        background-image: url('/img/bg-mobile.png');
    }

    .main-nav {
        padding: 2.5rem 0;
        .gmw {
            display: flex;
            justify-content: space-between;
            align-items: center;
            @media #{$ipad} {
                justify-content: center;
            }
            .call-to-action-wrapper {
                @media #{$ipad} {
                    display: none;
                }
            }
        }
    }

    .hero-text {
        height: calc(80vh - 160px);
        max-height: 800px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        @media #{$ipad} {
            height: auto;
            max-height: unset;
        }
        position: relative;

        .arrows-button {
            z-index: 100;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: 4rem;
            animation: arrowsDown 1s infinite;
            @media #{$ipad} {
                bottom: 2rem;
            }
            i {
                font-size: 2rem;
                color: white;
                text-shadow: 0px 3px 8px rgba(black, 0.1);
                @media #{$ipad} {
                    color: $mainColor;
                }
            }
        }
        .gmw {
            display: flex;
            justify-content: space-between;
            align-items: center;
            & > img {
                width: 100%;
                max-width: 750px;
                @media #{$ipad} {
                    display: none;
                }
            }
        }
        .text {
            max-width: 548px;
            // margin-bottom: 80px;
            padding-bottom: 3.5rem;
            @media #{$ipad} {
                margin-bottom: 0;
                max-width: unset;
            }
            h1 {
                font-size: 4rem;
                color: $mainColorDark;
                font-weight: $heavy;
                @media #{$ipad} {
                    font-size: 40px;
                    text-align: center;
                }
            }
            p {
                font-size: 2.5rem;
                font-weight: $medium;
                font-style: italic;
                @media #{$ipad} {
                    font-size: 32px;
                    text-align: center;
                }
                span {
                    font-weight: $heavy;
                    font-style: italic;
                }
            }

            .house-mobile {
                display: none;
                @media #{$ipad} {
                    display: block;
                    width: calc(100% + 2rem );
                    height: auto;
                    margin: 3rem 0;
                    margin-left: -1rem;
                }
            }
            .call-to-action-wrapper {
                display: none;
                @media #{$ipad} {
                    display: block;
                    margin: auto;
                }
            }
        }
    }
}

.about-section {
    .gmw.two {
        grid-template-columns: 0.35fr 0.65fr;
        @media #{$ipad} {
            grid-template-columns: 1fr;
        }
    }
    .img-wrapper {
        background-image: url('/img/luis-mata.png');
        background-position: center;
        background-size: cover;
        @media #{$ipad} {
            order: 2;
        }
    }
    .info-about {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
        @media #{$ipad} {
            order: 1;
        }
        h2 {
            margin-bottom: 2rem;
            color: black;
        }
        h4 {
            font-size: 2rem;
            color: $mainColorDark;
            margin: 1rem 0 1.5rem;
        }
        .bullet {
            background-color: $mainColorDark;
            padding: 8px 12px;
            padding-bottom: 4px;
            color: white;
            border-radius: 1000px;
            font-size: 20px;
            display: block;
            margin-bottom: 1.5rem;
        }
        .item-circle {
            padding-left: 2rem;
            position: relative;
            margin-bottom: 2rem;
            &:not(.end) {
                &:after {
                    content: '';
                    display: block;
                    width: 1px;
                    height: 180%;
                    border-radius: 50%;
                    position: absolute;
                    top: calc(50% + 6px);
                    left: 6px;
                    background-color: $gray;
                }
            }
            &:before {
                content: '';
                display: block;
                width: 12px;
                height: 12px;
                border-radius: 50%;
                position: absolute;
                top: 50%;
                left: 0;
                background-color: $mainColorDark;
                transform: translateY(-50%)
            }
        }

        .icons-wrapper {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 1.5rem;
            margin-bottom: 3rem;
            .icon-item {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                .icon {
                    background-color: $lightGray;
                    width: 44px;
                    height: 48px;
                    border-radius: 8px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 24px;
                    margin-right: 0.5rem;
                    flex-shrink: 0;
                    i {
                        color: $mainColorDark;
                    }
                }
                p {
                    font-size: 20px;
                    font-weight: $light;
                    font-style: italic;
                    span {
                        font-weight: $heavy;
                    }
                }
            }
        }
        .call-to-action-wrapper {
            @media #{$ipad} {
                margin: auto;
            }
        }
    }
}

.lines-wrapper {
    position: relative;
    @media #{$ipad} {
        padding: 1rem;
    }

    &.first-lines {
        .secondary-wrapper {
            &:before {
                top: 36px;
            }
        }
    }

    &.last-lines {
        .secondary-wrapper {
            &:before {
                height: calc(8rem + 40px);
            }
        }
    }

    .secondary-wrapper {
        width: 100%;
        // background-color: #003;
        margin: auto;
        max-width: 1880px;
        position: relative;
        @media #{$ipad} {
            padding: 5rem 0;
        }
        &:before, &:after {
            content: '';
            display: block;
            position: absolute;
            background-color: rgba(white, 0.1);
            @media #{$ipad} {
                display: none;
            }
        }
        &:before {
            left: 0px;
            top: -8rem;
            width: 4px;
            height: calc(100% + 16rem);
            z-index: 10;
        }
        &:after {
            width: 50%;
            height: 4px;
            left: 4px;
            top: 36px;
        }
        .number {
            position: absolute;
            top: 0;
            right: 0;
            font-weight: $heavy;
            font-style: italic;
            font-size: 72px;
            @media #{$ipad} {
                font-size: 32px;
            }
        }
        .gmw {
            // background-color: #030;
            width: 100%;
            z-index: 5;
            position: relative;
            .content {
                &.two-col {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    gap: 4rem;
                    @media #{$ipad} {
                        grid-template-columns: 1fr;
                    }
                }
                .text-content {
                    h4 {
                        font-size: 1.5rem;
                        margin-bottom: 1rem;
                        font-weight: bold;
                    }
                    &.centered {
                        h4, p {
                            text-align: center;
                            @media #{$ipad} {
                                text-align: left;
                            }
                        }
                    }
                }
            }
            h3 {
                max-width: 630px;
                margin: auto;
                text-align: center;
                margin-bottom: 80px;
                &:first-child {
                    padding: 0 2rem;
                }
                &.large {
                    max-width: 870px;
                }
                @media #{$ipad} {
                    font-size: 32px;
                }
            }
            .content-section.video {
                position: relative;
                width: 100%;
                height: 400px;
                margin-bottom: 4rem;
                display: flex;
                justify-content: center;
                align-items: center;
                .bg {
                    width: 100vw;
                    height: 100%;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    background-size: cover;
                    background-position: center;
                    z-index: 1;
                    &.bg-1 {
                        background-image: url('/img/video-1.jpg');
                        @media #{$ipad} {
                            background-image: url('/img/video-1-m.jpg');
                        }
                    }
                    &.bg-2 {
                        background-image: url('/img/video-2.jpg');
                        @media #{$ipad} {
                            background-image: url('/img/video-2-m.jpg');
                        }
                    }
                    &.bg-3 {
                        background-image: url('/img/video-3.jpg');
                        @media #{$ipad} {
                            background-image: url('/img/video-3-m.jpg');
                        }
                    }
                    &.bg-4 {
                        background-image: url('/img/video-4.jpg');
                        @media #{$ipad} {
                            background-image: url('/img/video-4-m.jpg');
                        }
                    }
                    &.bg-5 {
                        background-image: url('/img/video-5.jpg');
                        @media #{$ipad} {
                            background-image: url('/img/video-5-m.jpg');
                        }
                    }
                    &.bg-6 {
                        background-image: url('/img/video-6.jpg');
                        @media #{$ipad} {
                            background-image: url('/img/video-6-m.jpg');
                        }
                    }
                    &.bg-7 {
                        background-image: url('/img/video-7.jpg');
                        @media #{$ipad} {
                            background-image: url('/img/video-7-m.jpg');
                        }
                    }
                    &.bg-8 {
                        background-image: url('/img/video-8.jpg');
                        @media #{$ipad} {
                            background-image: url('/img/video-8-m.jpg');
                        }
                    }
                    &.bg-9 {
                        background-image: url('/img/video-9.jpg');
                        @media #{$ipad} {
                            background-image: url('/img/video-9-m.jpg');
                        }
                    }
                    &:after {
                        content: '';
                        display: block;
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        top: 0;
                        left: 0;
                        background-color: rgba(black, 0.2);
                        opacity: 0;
                        transition: all .2s;
                    }
                }
                button {
                    position: relative;
                    width: 120px;
                    height: 120px;
                    background-color: rgba(white, 0.1);
                    backdrop-filter: blur(10px);
                    border-radius: 50%;
                    z-index: 2;
                    transition: all .2s;
                    i {
                        color: white;
                        font-size: 2.5rem;
                    }
                    &:hover {
                        width: 140px;
                        height: 140px;
                        & + .bg:after {
                            opacity: 1;
                        }
                    }
                }
            }

            .call-to-action-wrapper {
                margin: auto;
                margin-top: 5rem;
            }

            .icons-section {
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
                @media #{$ipad} {
                    flex-direction: column;
                }
                .icon-wrapper {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    width: 20%;
                    @media #{$ipad} {
                        width: 100%;
                        margin-bottom: 2rem;
                        &:last-child {
                            margin-bottom: 0;
                        }
                    }
                    img {
                        margin-right: 1rem;
                    }
                    .img-wrapper {
                        @media #{$ipad} {
                            width: 70px;
                            margin-right: 1rem;
                            flex-shrink: 0;
                            img {
                                margin: 0;
                                margin: auto;
                            }
                        }
                    }
                }
            }

            .cards-section {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr;
                gap: 2rem;
                @media #{$ipad} {
                    grid-template-columns: 1fr;
                }
                .card {
                    padding: 2rem;
                    box-shadow: 0px 3px 16px rgba(black, 0.1);
                    border-radius: 1rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    @media #{$ipad} {
                        width: 100%;
                    }
                    i {
                        font-size: 48px;
                        color: $mainColorDark;
                        margin: auto;
                        text-align: center;
                    }
                    h4 {
                        font-size: 18px;
                        font-weight: bold;
                        margin: 1.5rem 0;
                        text-align: center;
                    }
                    p {
                        text-align: center;
                    }
                }
            }
            .steps-process-wrapper {
                h4 {
                    font-size: 1.5rem;
                    margin-bottom: 1rem;
                    @media #{$ipad} {
                        margin-bottom: 2rem;
                    }
                }
                .steps-process {
                    display: flex;
                    justify-content: space-between;
                    align-items: flex-start;
                    @media #{$ipad} {
                        flex-direction: column;
                    }
                    .steps {
                        margin-right: 2rem;
                        @media #{$ipad} {
                            margin-right: 0;
                        }
                        &:last-child {
                            margin-right: 0;
                        }
                        .step {
                            display: flex;
                            justify-content: flex-start;
                            align-items: flex-start;
                            margin-bottom: 2rem;
                            &:last-child {
                                margin-bottom: 0;
                            }

                            .step-number {
                                width: 64px;
                                height: 64px;
                                border-radius: 50%;
                                background-color: $lightBlack;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                font-size: 1.5rem;
                                font-weight: bold;
                                line-height: 1;
                                flex-shrink: 0;
                                margin-right: 1rem;
                            }
                            .text {
                                h5 {
                                    font-size: 1rem;
                                    margin-bottom: 0.5rem;
                                }
                            }
                        }
                    }
                }

            }
        }
    }
    &.dark {
        background-color: #212121;
        position: relative;

        .number {
            color: $lightBlack;
        }

        .e-ornament {
            position: absolute;
            bottom: 40px;
            right: calc(100% - 320px);
            opacity: 0.05;
            z-index: 3;
            @media #{$ipad} {
                display: none;
            }
        }
        h3:first-child {
            background-color: #212121;
        }
    }
    &.white {
        position: relative;
        .secondary-wrapper {
            &:before, &:after {
                background-color: rgba(black, 0.1);
            }
        }
        .number {
            color: $gray;
        }
        .e-ornament {
            position: absolute;
            bottom: 40px;
            left: calc(100% - 320px);
            z-index: 3;
            @media #{$ipad} {
                display: none;
            }
        }
        h3:first-child {
            background-color: white;
        }
    }
}

.testimonials {
    background-image: url('/img/e-e-gray.png');
    background-position: 160% center;
    background-repeat: no-repeat;
    
    .secondary-wrapper {
        &:after {
            display: none;
        }
    }
    @media #{$ipad} {
        background-image: none;
    }
    h3 {
        text-align: center;
        margin-bottom: 3rem;
    }
    .call-to-action-wrapper {
        margin: auto;
        margin-top: 4rem;
    }
}

.how-it-works {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;

    @media #{$ipad} {
        grid-template-columns: 1fr;
        gap: 2rem;
    }

    h4 {
        font-size: 1.5rem;
        margin-bottom: 0.5rem;
        font-weight: bold;
    }
}

.blue-square-text {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    .square-blue {
        background-color: $mainColorDark;
        height: 80px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 1.5rem;
        padding-top: 10px;
        border-radius: 8px;
        margin-right: 1.5rem;
        margin-bottom: 1.5rem;
        span {
            font-size: 48px;
            font-weight: $heavy;
            font-style: italic;
            display: block;
            line-height: 0.8;
            &:last-child {
                font-size: 24px;
            }
        }
    }
    .text {
        h4 {
            font-size: 1.5rem;
            font-weight: bold;
        }
    }
}

.reqs {
    .cards {
        margin-top: 2rem;
        .cards-wrapper {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 1.5rem;
            @media #{$ipad} {
                gap: 0.5rem;
            }
            .card {
                background-color: white;
                border-radius: 8px;
                box-shadow: 0px 3px 16px rgba(black, 0.1);
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 1.5rem;
                @media #{$ipad} {
                    padding: 1.5rem 0.5rem;
                }
                h5 {
                    font-size: 48px;
                    margin-top: 1rem;
                    line-height: 1;
                    font-weight: $heavy;
                    font-style: italic;
                    @media #{$ipad} {
                        font-size: 32px;
                    }
                }
                span {
                    font-size: 18px;
                    font-weight: $medium;
                    font-style: italic;
                    &:last-child {
                        font-weight: $heavy;
                    }
                }
                &.blue {
                    background-color: $mainColorDark;
                    color: white;
                }
            }
        }
    }

    .req {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 1rem;
        &:last-child {
            margin-bottom: 0;
        }
        .icon {
            width: 64px;
            height: 64px;
            border-radius: 50%;
            background-color: $lightGray;
            flex-shrink: 0;
            margin-right: 1rem;
            display: flex;
            justify-content: center;
            align-items: center;
            i {
                font-size: 1.5rem;
            }
        }
    }

    &.dark {
        .req {
            .icon {
                background-color: $lightBlack;
            }
        }
        .blue-square-text {
            margin: 2rem 0;
            .square-blue {
                margin-bottom: 0;
                span {
                    font-size: 40px;
                    &:last-child {
                        font-size: 18px;
                        font-weight: bold;
                        letter-spacing: 3px;
                    }
                }
            }
        }
    }
}

.invest-from {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    @media #{$ipad} {
        flex-direction: column;
    }
    h4 {
        flex-shrink: 0;
        span {
            font-style: italic;
            display: block;
            text-transform: uppercase;
            text-align: center;
        }
        span:first-child {
            font-size: 40px;
            font-weight: $medium;
            @media #{$ipad} {
                font-size: 24px;
            }
        }
        span:last-child {
            font-size: 52px;
            font-weight: $heavy;
            @media #{$ipad} {
                font-size: 32px;
            }
        }
    }
    .globe {
        width: 100%;
        margin-left: 2rem;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        @media #{$ipad} {
            flex-direction: column;
            margin: 0;
        }
        &:before {
            content: '';
            display: block;
            width: 0; 
            height: 0; 
            border-top: 24px solid transparent;
            border-bottom: 24px solid transparent; 
            border-right: 28px solid #424242; 
            @media #{$ipad} {
                border-right: 24px solid transparent;
                border-left: 24px solid transparent;
                border-bottom: 24px solid #424242; 
            }
        }
        .globe-content {
            background-color: #424242;
            padding: 2rem;
            border-radius: 1rem;
            width: 100%;
            .list-item {
                font-size: 40px;
                font-style: italic;
                margin-bottom: 1.5rem;
                display: flex;
                justify-content: flex-start;
                align-items: flex-start;
                @media #{$ipad} {
                    font-size: 1.5rem;
                }
                span.bold, span.blue {
                    font-weight: $heavy;
                }
                span.blue {
                    color: $mainColor;
                }
                &:before {
                    content: '';
                    display: block;
                    width: 0; 
                    height: 0; 
                    border-top: 10px solid transparent;
                    border-bottom: 10px solid transparent; 
                    border-left: 20px solid $mainColorDark;
                    margin-top: 15px;
                    margin-right: 1rem;
                }
            }
        }
    }
}

.invest-from-advise {
    margin-top: 40px;
    h4, p {
        font-size: 14px;
    }
}

.icons-circle {
    margin-top: 2rem;
    .icon-circle {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 1rem;
        &:last-child {
            margin-bottom: 0;
        }

        .icon {
            width: 64px;
            height: 64px;
            background-color: $lightGray;
            border-radius: 50%;
            flex-shrink: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 1rem;
            &.blue {
                background-color: $mainColorDark;
                i, span {
                    color: white;
                }
            }
            i {
                font-size: 1.5rem;
            }
            span {
                font-weight: bold;
                font-size: 1.5rem;
                line-height: 1;
            }
        }
        .text {
            h5 {
                font-size: 1rem;
                font-weight: bold;
            }
            p {

            }
        }
        
    }
}