.hero {
    background-image: url('/img/hero-bg.png');
    background-position: center;
    background-size: cover;

    .main-nav {
        padding: 2.5rem 0;
        .gmw {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }

    .hero-text {
        .text {
            max-width: 548px;
        }
        h1 {
            font-size: 4rem;
            color: $mainColorDark;
            font-weight: $heavy;
        }
        p {
            font-size: 2.5rem;
            font-weight: $medium;
            font-style: italic;
            span {
                font-weight: $heavy;
                font-style: italic;
            }
        }
    }
}