$macbook: "only screen and (max-width: 1450px)";
$ipad: "only screen and (max-width: 768px)";
$height: "only screen and (min-width: 1450px) and (max-height: 970px)";
$lowHeight: "only screen and (max-height: 680px) and (min-width: 768px)";

$shadowBox: rgba(0, 0, 0, 0.2) 0px 1px 2px 0px;
$strongShadow: rgba(0, 0, 0, 0.3) 0px 10px 20px;

$thin: 100;
$extraLight: 200;
$light: 300;
$regular: 400;
$normal: 400;
$medium: 500;
$semiBold: 600;
$bold: 700;
$extraBold: 800;
$ultraBold: 800;
$heavy: 900;